body {
    font: 20ps Arial, sans-serif;
}

.navbar {
    background-color: #688A08;
}

.quem-somos {
    background-color: #2E9AFE;
    color: white;
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros {
    background-color: #58D3F7;
}

.bg-footer {
    background-color: black;
    color: white;
}

.loren1 {
    text-align: justify;
}

.loren2 {
    text-align: justify;
}